<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>react ssr</title>
  </head>
  <body>
    <div id="root"> <%%- appString %> </div>
    <script>
      // store的序列化
      window.__INITIAL_STORE__ = <%%- initialStore %>
      // view内异步请求state的序列化
      window.__INITIAL_STATE__ = <%%- initialState %>
    </script>
  </body>
</html>
